* {
    font-family: sans-serif;
  }

h2, h1 {
    text-align: center;
    padding-top: 30px;
  }

p, h4, img {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    
    li {
    float: left;
    }
    
    li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    }
    
    li.dropdown {
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1;}
        
        .dropdown:hover .dropdown-content {
        display: block;
        }

.container1{
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    height: auto;
}

.container {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    height: auto;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}
